
/*------------------------------------------------- */
/* =  services page */
/*------------------------------------------------- */

section.services-section {
	padding: 100px 0 50px;
	.services-box {
		overflow: hidden;
		.services-post {
			margin-bottom: 20px;
			float: left;
			background: transparent;
			align-items: center;
			.services-gal {
				position: relative;
				img {
					width: 100%;
					height: auto;
				}
			}
			.content-post {
				padding: 30px 0;
			}
			h2 {
				margin-bottom: 15px;
				position: relative;
				@include transition(0.2s);
				a {
					color: $title-color;
				}
				a:hover {
					color: $second-color;
				}
			}
			p {
				margin-bottom: 0px;
				@include transition(0.2s);		
			}
		}
		.services-post.single {
			p {
				margin-bottom: 15px;
			}
		}
	}
}

.services-tabs {
    ul {
        @extend .reset-elem;
        margin-bottom: 40px;
        li {
            display: block;
            margin: 0 0 2px;
            a {
                display: block;
                padding: 18px 25px;
                background: #f5f5f5;
                color: $title-color;
                font-size: 15px;
                font-family: $font-default;
                font-weight: 700;
                margin: 0;
            }
            a:hover {
                background: $primary-color;
                color: $title-color;
            }
        }
        li.active {
            a {
                background: $second-color;
                color: #fff;
            }
        }
    }
}